@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #ecffe5;;
}

nav {
	background: whitesmoke;
	text-align: right;
	height: 80px;
}

nav ul li {
	display: inline-block;
	padding-top: 30px;
}

nav ul li a {
	list-style: none;
	text-decoration: none;
	padding-right: 40px;
	color: brown;
	font-weight: bold;
	font-family: Verdana;
	font-size: 17px;
}

.logo {
	float: left;
	width: auto;
	height: 75px;
	margin-left: 40px;
}

.slider {
	overflow: hidden;
	width: 100%;
}

.slider figure .figure_div {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

.slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}

	20% {
		left: 0;
	}

	25% {
		left: -100%;
	}

	45% {
		left: -100%;
	}

	50% {
		left: -200%;
	}

	70% {
		left: -200%;
	}

	75% {
		left: -300%;
	}

	95% {
		left: -300%;
	}

	100% {
		left: -400%;
	}
}

.figure_text1 {
	position: absolute;
	top: 180px;
	left: 100px;
	font-size: 70px;
	color: snow;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
	position: absolute;
	width: 80vw;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin-top: 700px;
}

.container_count {
	width: 28vmin;
	height: 28vmin;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em 0;
	position: relative;
	font-size: 16px;
	border-radius: 0.5em;
	background-color: whitesmoke;
	border-bottom: 10px solid brown;
	border-top: 2px solid brown;
	border-right: 2px solid brown;
	border-left: 2px solid brown;
}

i {
	color: brown;
	font-size: 2.5em;
	text-align: center;
}

span.num {
	color: brown;
	display: grid;
	place-items: center;
	font-weight: 600;
	font-size: 3em;
	font-family: Verdana;
}

span.text {
	color: brown;
	font-size: 1em;
	text-align: center;
	pad: 0.7em 0;
	font-weight: 400;
	line-height: 0;
	font-family: Verdana;
	font-weight:bold;
}