* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: white !important;
}

nav {
	background: whitesmoke;
	text-align: right;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 20;
}

nav ul li {
	display: inline-block;
	padding-top: 30px;
	text-decoration: none;
}

nav ul li a {
	list-style: none !important;
	text-decoration: none !important;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 80px;
	padding-bottom: 27px;
	color: brown;
	font-weight: bold;
	font-family: Verdana;
	font-size: 17px;
}

li a:hover {
	background: linear-gradient(#e9a092 0%, brown	100%);
	color: whitesmoke !important;
	text-decoration: none;
	z-index: 10;
}

li a:link {
	text-decoration: none;
	color: brown;
}

li a:visited {
	text-decoration: none;
	color: brown;
}

.logo {
	float: left;
	width: auto;
	height: 75px;
	margin-left: 40px;
}

.footer{
	background-color: #ba3a3a;
	margin-top: 500px;	
}

.footer ul li{
	color:white;
}

.footer_text{
	font-family: Verdana;
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	margin-left: -10px;
	text-align: center;
}

.footer_text_middle{
	font-family: Verdana;
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	margin-left: -10px;
	text-align: center;
}

.footer_icons{
	padding-left: 79px;
}

.myicons{
	padding-left: 20px;
}

.span_icon{
	font-weight: bold;
}

.contact_text{
	font-family: Verdana;
	font-size: 12px;
}

.gallery_text {
	font-family: Verdana;
	font-weight: bold;
	color: brown;
	text-align: center;
	z-index: 5;
	margin-top: -190px;
}

.main_photo {
	z-index: -1;
	width: 100%;
	height: 350px;
}

.main_photo2 {
	z-index: 1;
	width: 100%;
	height: 270px;
	margin-top: -270px;
}

.gallery_photos {
	width: 100%;
	height: 260px;
}

.gallery_welcome{
	font-family: "Cookie";
	font-size: 70px;
	font-weight: bold;
	text-shadow: 5px 5px 2px gray;
	margin-top: 210px;
	text-align: center;
}

.first_row{
	margin-top: 90px;
}

.second_row{
	margin-top: 30px;
}

.third_row{
	margin-top: 30px;
}

.fourth_row{
	margin-top: 30px;
}

.fifth_row{
	margin-top: 30px;
}

.sixth_row{
	margin-top: 30px;
	margin-bottom: -350px;
}