* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: whitesmoke !important;
}

nav {
	background: whitesmoke;
	text-align: right;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 20;
}

nav ul li {
	display: inline-block;
	padding-top: 30px;
	text-decoration: none;
}

nav ul li a {
	list-style: none !important;
	text-decoration: none !important;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 80px;
	padding-bottom: 27px;
	color: brown;
	font-weight: bold;
	font-family: Verdana;
	font-size: 17px;
}

li a:hover {
	background: linear-gradient(#e9a092 0%, brown	100%);
	color: whitesmoke !important;
	text-decoration: none;
	z-index: 10;
}

li a:link {
	text-decoration: none;
	color: brown;
}

li a:visited {
	text-decoration: none;
	color: brown;
}

.logo {
	float: left;
	width: auto;
	height: 75px;
	margin-left: 40px;
}

.slider {
	overflow: hidden;
	width: 100%;
}

.slider figure .figure_div {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

.slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}

	20% {
		left: 0;
	}

	25% {
		left: -100%;
	}

	45% {
		left: -100%;
	}

	50% {
		left: -200%;
	}

	70% {
		left: -200%;
	}

	75% {
		left: -300%;
	}

	95% {
		left: -300%;
	}

	100% {
		left: -400%;
	}
}

.figure_text1 {
	position: absolute;
	top: 180px;
	left: 100px;
	font-size: 70px;
	color: #421800;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
}

.wrapper {
	position: absolute;
	width: 80vw;
	transform: translate(-50%, -50%);
	left: 50%;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin-top: 300px;
	padding-bottom: 30px;
}

.containercount {
	width: 28vmin;
	height: 28vmin;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em 0;
	position: relative;
	font-size: 16px;
	border-radius: 0.5em;
	background-color: white;
	border-bottom: 10px solid brown;
	border-top: 2px solid brown;
	border-right: 2px solid brown;
	border-left: 2px solid brown;
}

i {
	color: brown;
	font-size: 2.5em;
	text-align: center;
}

span.num {
	color: brown;
	display: grid;
	place-items: center;
	font-weight: 600;
	font-size: 3em;
	font-family: Verdana;
}

span.text {
	color: brown;
	font-size: 1em;
	text-align: center;
	pad: 0.7em 0;
	font-weight: 400;
	line-height: 0;
	font-family: Verdana;
	font-weight: bold;
}

.quote {
	background-color: #bbdecc;
	height: 360px;
}

.img_chef {
	margin-top: 100px;
}

.chef_text {
	margin-left: -105px;
	margin-top: 20px;
	font-family: Verdana;
	font-weight: bold;
}

.chef_text_h5 {
	font-style: italic;
	text-align: right;
}

blockquote {
	font-size: 20px;
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	margin-top: 150px;
	padding-top: 100px;
}